<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13F34</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CodaScriptPlugIn</string>
	<key>CFBundleIconFile</key>
	<string>plug-in</string>
	<key>CFBundleIdentifier</key>
	<string>com.dounokouno.PrintEnv</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>CodaAuthorString</key>
	<string>TAGAWA Takao</string>
	<key>CodaDescriptionString</key>
	<string>Output Coda plug-in's environment variable in current document.</string>
	<key>CodaPlugInMinimumAPIVersion</key>
	<string>5</string>
	<key>CodaPlugInSupportedAPIVersion</key>
	<integer>6</integer>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6A317</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>11D50a</string>
	<key>DTSDKName</key>
	<string>macosx10.7</string>
	<key>DTXcode</key>
	<string>0600</string>
	<key>DTXcodeBuild</key>
	<string>6A317</string>
	<key>NSPrincipalClass</key>
	<string>CodaScriptPlugIn</string>
	<key>commands</key>
	<array>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>none</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Shell</string>
			<key>output</key>
			<string>afterSelectedText</string>
			<key>script</key>
			<string>print_env.sh</string>
			<key>uuid</key>
			<string>AD3A8F1D-A57D-4D2A-9961-60126F6A1264</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>PHP</string>
			<key>output</key>
			<string>afterSelectedText</string>
			<key>script</key>
			<string>print_env.php</string>
			<key>uuid</key>
			<string>403682A7-7C0F-4F9A-87EB-829538ECB429</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Ruby</string>
			<key>output</key>
			<string>afterSelectedText</string>
			<key>script</key>
			<string>print_env.rb</string>
			<key>uuid</key>
			<string>970C2E11-33C9-468F-9389-F6B9AC20A356</string>
		</dict>
	</array>
</dict>
</plist>
